rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read;
      allow write: if request.auth.uid == "qI54cPPV6FQSMEwFx5eh5QIhFuc2" || request.auth.uid == "Gcolq9r7nba6OoeI8yhV3LZQuo43";
    }
  }
}
